:root {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150% 
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    margin-bottom: 20px;
}

body {
    background-image: url(assets/fundo1.jpg);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 700px;
    height: 1500px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin: 48px auto 28px;
img {
    border-radius: 20px;
};
}
 

main {
    padding: 24px;
}

section + section {
    margin-top: ;
}
#about p + p {
    margin-top: 24px;
}

h1 + p + p {
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 48px;
    font-family: "Dancing Script", cursive;
}

footer img {
    vertical-align: middle;
}
